[
 {n2o, [{port,8000},
        {app,faucet},
        {upload,"./apps/review/priv/static/"},
        {mode,dev},
        {route,routes},
%        {mq,n2o_mq},
%        {formatter,bert},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_io},
        {session,n2o_session},
        {origin,<<"*">>},
        {bridge,n2o_cowboy},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]}
].
