#{name=>testch0,
    descr=>"For my personal chain only",
    address => <<128, 1, 64, 0, 0, 0, 0, 4>>,
    url => "http://127.0.0.1:43280",
    key => <<0,0,0,0,0,0,0,0,0,0,9,6,0,2,5,0,4,0,8,5,0,4,9,8,8,1,5,6,8,5,0,5>>
}.
#{name=>testch1,
    address => <<128, 1, 64, 0, 1, 0, 0, 1>>,
    url => "http://127.0.0.1:43382",
    key => <<0,0,0,0,0,0,0,0,0,0,9,6,0,2,5,0,4,0,8,5,0,4,9,8,8,1,5,6,8,5,0,5>>
}.
#{name=>tnetch3,
    descr=> "TestNet Chain 3",
    address => <<128, 1, 64, 0, 3, 0, 0, 1>>,
    url => "http://ch3.rpc.testnet.thepower.io:43283",
    key => <<0,0,0,0,0,0,0,0,0,0,9,6,0,2,5,0,4,0,8,5,0,4,9,8,8,1,5,6,8,5,0,5>>
}.
#{name=>tnetch2,
    descr=> "TestNet Chain 2",
    address => <<128, 1, 64, 0, 2, 0, 0, 1>>,
    url => "http://ch2.rpc.testnet.thepower.io:43282",
    key => <<0,0,0,0,0,0,0,0,0,0,9,6,0,2,5,0,4,0,8,5,0,4,9,8,8,1,5,6,8,5,0,5>>
}.
#{name=>tnetch1,
    descr=> "TestNet Chain 1",
    address => <<128, 1, 64, 0, 1, 0, 0, 1>>,
    url => "http://ch1.rpc.testnet.thepower.io:43281",
    key => <<0,0,0,0,0,0,0,0,0,0,9,6,0,2,5,0,4,0,8,5,0,4,9,8,8,1,5,6,8,5,0,5>>
}.
