{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../apps"]}.
{deps, []}.
{plugins, [
    {rebar3_erlydtl_plugin, ".*", {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}},
    {erl_tidy_prv_fmt, ".*", {git, "git://github.com/tsloughter/erl_tidy.git", {branch, "master"}}}
]}.
{provider_hooks, [
                 {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
{erlydtl_opts, [
    {doc_root,   "priv/templates"},
    {compiler_options, [report, return, debug_info]},
    {source_ext, ".dtl"},
    {module_ext, "_view"}
]}.
